/* nav */
/* nest its OK, afects all the elements that share class the inside parent even if they are not direct descendent*/
/* we can use: > .class {} to affects only the fisrt direct child of the parent*/
/* the parent selector & replaces the text of the .parent inside the style block great fot theming*/

/* CSS hamburger button code, h/t 
https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793 

Below is a starting navigation bar formatted for mobile and desktop. MQ is set to break where nav wraps once we've set up some typography... which we have not done yet. Trust the process :-)

 <a href="#main-menu-toggle" class="backdrop" tabindex="-1" hidden></a> //to make clickable the hole screen 
*/

.nav-container{
  $fontColor: map-get($map: $defaultTheme, $key:"nav-font-color" );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  .nav { 
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    .logo {
      width: auto; //Set one of the propeties to auto and the other to 100% to preserve ratio
      height: 70px ;
      align-self: flex-start;
    }
    .nav-list {
      display: flex;
      margin-right: 2rem;

      a.current {
        background:  map-get($map: $defaultTheme, $key:"secondary" ); //rgb a =  0.822
      }
      a {
        color: $fontColor;
        display: block;
        font-size: 2.2rem;
        padding: 2rem;
      }
       a:hover {
        background: map-get($map: $defaultTheme, $key:"secondary" );
      }
    }
  }
}
header{
  background-color: #262626;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

  /*@media (max-width: 600px){
    .nav-container{
      .nav{
        flex-direction: column;
        .nav-list {
          flex-direction: column;
        }
      }
      .hamburger{
        display: block;     
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
      }              
    }
    
  }*/
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
      .logo{
        justify-self: start;
      }
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  

  @media(max-width:768px){
    .hamburger{
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #262626;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-item{
      margin: 16px 0;
    }
  
    .nav-menu.active{
      left: 0;
    }
  }