/* Welcome section */
  
.welcome-section {
  color: white;
    background-image: linear-gradient(115deg,
    rgba(53, 51, 51, 0.6),
    rgba(70, 70, 70, 0.4)
  ), url("./assets/Generic-Hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    //width: 90%; margin: 0 auto;
    height: 100vh;
    //background-color: #000;
    //background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  
    p {
      font-size: 3rem;
      font-weight: 200;
      font-style: italic;
      color: var(--main-red);
    }
  }
  
  