$themes: (
    "defaultTheme": (
        font-color: $fontColorDefaultTheme,
        primary: $primary,
    ),

    "darkTheme": (
        primary: $primary,
    )
);


$defaultTheme: (
    "font-color": $fontColorDefaultTheme,
    "primary": $primary,
    "secondary": $nav-link-bg
);

$darkTheme: (
    "primary": $primary,
); 