@import "./colors";

$themes: (
    "defaultTheme": (
        font-color: $fontColorDefaultTheme,
        primary: $primary,
    ),

    "darkTheme": (
        primary: $primary,
    )
);


$defaultTheme: (
"font-color": $fontColorDefaultTheme,
"primary": $primary,
);

$darkTheme: (
    "primary": $primary,
);