/* 
https://type-scale.com  useful for fonts and parir
https://fontjoy.com/ for pair
https://fonts.google.com/
https://www.myfonts.com/WhatTheFont/
https://www.typography.com/

https://css-tricks.com/snippets/svg/text-lock-up/ crazy titles with svg
https://codepen.io/MadeByMike/pen/YPJJYv responsive typography

https://web.dev/variable-fonts/ variable fonts 
https://codepen.io/mandymichael cool examples

research about load fonts and performance
the most populars can be already catched on the client

Some flexible rules 
    No more than 3 fonts 
    Don't use similar types of fonts  (serif, sans-serif, slab-serif)
    hard read for titles easy read for paragraphs

    not use long one line text separate un comumns
    you can check the rytmiyh of text bluring the text eyes

Text recomndations 
    avoid windows and orphans
    text center and a little upper 
*/